@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-beige: #f7f5f2;
  --brand-charcoal: #2f2f2f;
  --brand-accent: #c49a6c;
}

html.dark {
  --brand-beige: #2f2f2f;
  --brand-charcoal: #f7f5f2;
  --brand-accent: #c49a6c;
  background: var(--brand-charcoal);
}
